*{
	box-sizing: border-box;
	padding: 0px;
	margin:0px;
}
h1{
	border-bottom: 15px;
	font-size: 36px;
	margin-bottom: 50px;
	text-align: center;
	margin-top: 20px;
}
#container{
	width:100%;
	position: relative;
}


section{
	color:red;
	background-color: yellow;
	border: 1px black solid;
	margin-bottom: 15px;
	float:left;
	margin: 15px;
	padding:10px;
	position:relative;
}
p{
	margin-top: 30px;
	font-size:20px;
}
div>section>div{
	font-size: 26px;
	width:33%;
	border: 1px black solid;
	text-align:center;
	position:absolute;
	top:0px;
	right:0px;
}
#til1{
	color:#000000;
	background-color:#00FFFF;
	
}
#til2{
	
	color:#0000FF;
	background-color:#00FF00;
}
#til3{
	color:#000000;
	background-color:#FFA500;
}
/*desktop view*/
@media (min-width: 992px) {
	#o{
		width: 30%;
		
    }
	#s{
		width: 30%;
	}
	#t{
		width: 30%

	}
}
/*tablet view*/
@media (min-width: 768px) and (max-width:991px) {
	#o{
		width:45%;
	}
	#s{
		width:45%;
	}
	#t{
		width:93%
	}
}
/***mobile view**/
@media (max-width:767px) {
	#o{
		width:100%;
	}
	#s{
		width:100%;
	}
	#t{
		width:100%
	}
}
